:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    padding: 0 0 20px;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

h3 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
}

p {
    color: white;
    padding: 10px 20px 80px 0;
    line-height: 2;
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
}

.card {
    padding: 30px 40px;
}

.bright-orange {
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
}

.dark-cyan {
    background-color: var(--Dark-cyan);
}

.very-dark-cyan {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

.bright-orange .button {
    color: var(--Bright-orange);
}

.dark-cyan .button {
    color: var(--Dark-cyan);
}

.very-dark-cyan .button {
    color: var(--Very-dark-cyan);
}

.button {
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 28px;
}

.button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.attribution { 
        font-size: 11px; text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
}

@media (max-width:500px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .card {
        padding: 30px;
    }

    p {
        padding: 10px 60px 40px 0;
    }

    .bright-orange {
        border-radius: 10px 10px 0 0;
    }

    .very-dark-cyan {
        border-radius: 0 0 10px 10px;
    }
}